@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    height: 100hv;
    font-family: 'Montserrat', sans-serif;
    background: center/cover url("https://images.pling.com/img/00/00/62/09/22/1840270/outrun-neon-dark-background-purple-1920x1080-45231.jpg");
}

.container {
    width: 300px;
    margin: auto;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
}

button{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.6);
}